@font-face {
  font-family: 'Lars';
  src: url('/Lars-Regular.otf');
}

body {
    font-family: 'Lars', arial, helvetica;
    /* color: #333;  */
    color: black;
    line-height: 1.25;
    margin: 0;
}
